@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
	--black: #000000;
	--blackGrey: #242424;
	--grey: #808080;
	--whiteGrey: #ECECEC;
	--white: #FFFFFF;
	--accent: #2695D4;
	--accent2: #E6F4FC;
	--accentFont: "Rubik", sans-serif;
	--transition: 0.3s;
}


* {
	margin: 0;
	padding: 0;
	font-family: var(--accentFont);
}

html {
	scroll-behavior: smooth;
}

a {
	text-underline-offset: 2.5px;
	text-decoration: underline;
}

input, textarea, button {
	font-family: var(--accentFont);
}

.flex{
	display: flex;
}
.flexCol{
	flex-direction: column;
}
.flexRow{
	flex-direction: row;
}

.logo-nav {
	height: 50px;
	align-items: center;
	justify-content: center;
}

.chat-container {
	height: calc(100dvh - 50px);
	/* height: calc(100vh - 50px); */
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

#onlineUsers {
	width: 100%;
	height: 40px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

#chatroom {
	height: calc(100% - 80px);
	width: calc(100% - 20px);
	overflow: auto;
	padding: 10px;
	gap: 10px;
}

.msg-wrapper{
	max-width: 70%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 15px;
}

.my-msg {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.my-msg .msg-wrapper {
	color: var(--whiteGrey);
	background: var(--accent);
	align-items: flex-end;
	border-radius: 20px 5px 20px 20px;
}
.my-msg a {
	color: var(--whiteGrey);
}

.other-msg {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.other-msg .msg-wrapper {
	align-items: flex-end;
	border-radius: 5px 20px 20px 20px;
}

.msg-content {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.3;
	width: fit-content;
	word-break: break-word;
}
.my-msg .msg-content {
	text-align: left;
}
.other-msg .msg-content {
	text-align: left;
}

.timestamp {
	width: fit-content;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 300;
}

#messageForm {
	height: 40px;
	width: calc(100% - 20px);
	padding: 10px;
	justify-content: space-between;
	align-items: center;
}

#messageForm input {
	width: calc(100% - 60px);
	height: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 300;
}

#messageForm button {
	width: 30px;
	height: 30px;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
#messageForm button i {
	font-size: 10px;
}


/* Light Mode Styles Start ========================================================= */
@media (prefers-color-scheme: light) {
	html {
		color: var(--blackGrey);
		background: var(--white);
	}

	.logo-nav {
		background: var(--white);
	}

	#onlineUsers {
		color: var(--accent);
		background: var(--white);
		border-top: 1px solid var(--accent2);
	}

	#chatroom {
		background: var(--whiteGrey);
	}

	.other-msg .msg-wrapper {
		color: var(--blackGrey);
		background: var(--white);
	}

	.other-msg a {
		color: var(--blackGrey);
	}

	.my-msg .timestamp {
		color: var(--whiteGrey);
	}
	.other-msg .timestamp {
		color: var(--grey);
	}

	#messageForm {
		background: var(--white);
	}

	#messageForm input {
		background: var(--whiteGrey);
		outline: 1px solid var(--whiteGrey);
		transition: var(--transition);
	}
	#messageForm input::placeholder {
		color: var(--grey);
	}

	#messageForm input:focus {
		background: #F4F4F4;
		outline: 1px solid var(--accent);
		transition: var(--transition);
	}

	#messageForm button {
		color: var(--whiteGrey);
		background: var(--accent);
		outline: 1px solid var(--accent);
	}
}
/* =========================================================== Light Mode Styles End */


/* Dark Mode Styles Start ========================================================== */
@media (prefers-color-scheme: dark) {
	html {
		color: var(--whiteGrey);
		background: var(--blackGrey);
	}

	.logo-nav {
		background: #2d2e2f;
	}

	#onlineUsers {
		color: var(--accent);
		background: #2d2e2f;
		border-top: 1px solid var(--blackGrey);
	}

	#chatroom {
		background: #353839;
	}

	.other-msg .msg-wrapper {
		color: var(--whiteGrey);
		background: #2d2e2f;
	}

	.other-msg a {
		color: var(--whiteGrey);
	}

	.my-msg .timestamp {
		color: var(--whiteGrey);
	}
	.other-msg .timestamp {
		color: var(--whiteGrey);
	}

	#messageForm {
		background: #2d2e2f;
	}

	#messageForm input {
		color: var(--whiteGrey);
		background: #353839;
		outline: 1px solid #44484A;
		transition: var(--transition);
	}
	#messageForm input::placeholder {
		color: var(--grey);
	}

	#messageForm input:focus {
		background: #424547;
		outline: 1px solid var(--accent);
		transition: var(--transition);
	}

	#messageForm button {
		color: var(--whiteGrey);
		background: var(--accent);
		outline: 1px solid var(--accent);
	}
}
/* ============================================================ Dark Mode Styles End */